@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

$color:#232926;
$color-dark:#23004d;
$color-light:#a49eac;
$color-lighten:#ffffff;
$color-hover:#c4c4c4;
$font:"Open Sans", sans-serif;
$big-font-size:1.5rem;
$normal-font-size:0.938rem;
$small-font-size:0.813rem;

@media screen and (min-width:768px){
  $normal-font-size:1rem;
$small-font-size:0.875rem;

}
*,::before,::after{
  box-sizing:border-box;
}
body{
  margin:0;
  padding:0;
  font-family:$font;
  font-size:$normal-font-size;
  color:$color-dark;
}
h1{
  margin:0;
}
a{
  text-decoration:none;
}
img{
  max-width:100%;
    height:auto;
  //display:block;
}
.background{
  background-color: #a0aaac;
}
.line{
  position: absolute;
  left: 30%;
  border-left: thin solid black;
  height: 80vh;
}
.menu{
  &__profile:hover{
    filter: opacity(0.5) drop-shadow(0 0 0 white);
    transition-duration: 0.4s;
    width: 100%;
    height: 100%;

  }
}
.img_button{
  position: absolute;
  left: 30%;
  top: 52%;
}
.list{
  background-color: rgb(240, 237, 235);
  position: absolute;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  height: 100%;
  width: 10%;
  border-right: thin solid black;
  list-style: none;
  top: -0%;
  left: 0%;
  &__box{
    padding:.5rem 1rem;
    border-radius:.5rem;
    border-bottom: thin solid rgb(48, 48, 48);
  }
  &__box:hover{
    //background-color: black;
    //color: white;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  &__font{
    padding: .5em;
    font-size: 20px;
    text-align: left;
  }
}
.mypage_profile {
  width: 100%;
  height: 100%;
  object-fit: cover;
  &__box {
    position: absolute;
    width: 280px;
    height: 280px; 
    border-radius: 85%;
    overflow: hidden;
    left: 19.5%;
    top:10%;
  }
}
.menu__mypage{
  display:relative;
  grid-template-columns:100%;
  height:100vh;
  margin-left:1.5rem;
  margin-right:1.5rem;
  &__p{
    font-size: 18px;
    font-weight: bold;
  }
  &__content{
    display:grid;
  }
  &__img{
    //justify-self:center;
    
    img{
      width:310px;
      margin-top:1.5rem;
    }
  }
  &__forms{
    position:absolute;
    top: 35em;    // 전체 페이지 top 패딩
    left: 50%;
    transform: translate(-50%,-50%);
  }
  &__register,&__create{  //프로필 창
    //position:absolute;
    bottom:1rem;
    width:1000px; //여기 부분이 마이페이지 폼 크기 조정
    background-color:$color-lighten;
    padding:1rem 1rem;
    border-radius:1rem;
    text-align:center;
    box-shadow:0 8px 20px rgba(35,0,77,.2);
    animation-duration:.4s;
    animation-name:animateLogin;
  }
  &__title{
    font-size:$big-font-size;
    margin-bottom:2rem;
  }
  &__box{//input을 감싸는 box (한줄에 하나씩)
    display:grid;
    //grid-template-columns:max-content 1fr;
    column-gap:2rem;
    padding:.5rem 1rem;
    //background-color:#fff;
    //margin-top:1rem;
    border-radius:.5rem;
    width: 40%;
    margin-left: auto;

  }
  &__inbox{ //내부 inputbox
    padding:1.125rem 1rem;
    background-color:#fff;
    //margin-top:1rem;
    border-radius:.5rem;
    width: 100%;
    text-align: left;
    margin-bottom: .5rem;
  }
  &__inbox1{ //내부 inputbox 닉네임
    position: absolute;
    padding:1.125rem 1rem;
    background-color:#fff;
    //margin-top:1rem;
    border-radius:.5rem;
    width: 30%;
    text-align: left;
    left: 18%;
    top: 58.7%;
  }
  &__inbox2{ //내부 inputbox
    position: absolute;
    padding:1.125rem 1rem;
    background-color:#fff;
    //margin-top:1rem;
    border-radius:.5rem;
    width: 30%;
    text-align: left;
    left: 18%;
    top: 68.1%;
  }
  &__inbox3{ //내부 inputbox
    position: absolute;
    padding:1.125rem 1rem;
    background-color:#fff;
    //margin-top:1rem;
    border-radius:.5rem;
    width: 30%;
    text-align: left;
    left: 18%;
    top: 82%;
  }
  &__icon{
    font-size:1.5rem;
    color:$color;
  }
  &__input{
    border:none;
    outline:none;
    font-size:$normal-font-size;
    font-weight:500;

    color:$color-dark;
    width:100%;
    text-align: left;
    
    &::placeholder{
      font-size:$normal-font-size;
      font-family:$font;
      color:$color-light;
    }
  }
  &__input1{
    border:none;
    outline:none;
    font-size:$normal-font-size;
    font-weight:500;
    color:$color-dark;
    width:100%;
    text-align: left;
    &::placeholder{
      font-size:$normal-font-size;
      font-family:$font;
      color:$color-light;
    }
  }
  &__forgot{
    display:block;
    width:max-content;
    margin-left:auto;
    margin-top:.5rem;
    font-size:$small-font-size;
    font-weight:600;
    color:$color-light;
  }
  &__button{
    display:block;
    position:relative;
    padding:1rem;
    margin:2rem 0;
    background-color:$color;
    color:#fff;
    font-weight:600;
    text-align:center;
    border-radius:.5rem;
    transition:.3s;
    width: 30%;
    left: 45em;
    justify-content: right;
      
      &:hover{
        background-color:$color-hover;
        color: black;
        }
  }
  &__account,&__signin,&__signup{
    font-weight:600;
    font-size:$small-font-size;
    
    &--account{
      color:$color-dark;
    }
    &--signin,&--signup{
      color:$color;
      cursor:pointer;
    }
  }
  &__social{
    margin-top:2rem;
    
    &--icon{
      font-size:1.5rem;
      color:$color-dark;
      margin:0 1rem;
    }
  }
}
.block{
  display:block;
}
.none{
  display:none;
}
@keyframes animateLogin{
  0%{
    transform:scale(1,1);
  }
  50%{
    transform:scale(1.1,1.1);
  }
  100%{
    transform:scale(1,1);
  }
}

@media screen and (min-width:576px){
  .login{
    &__forms{
      //width: 70vw;
      justify-self:center;
    }
    &__register,&__create{
      
    }
  }
}
@media screen and (min-width:1024px){
  .login{
    height:100vh;
    overflow:hidden;
    &__content{
      grid-template-columns:repeat(2,max-content);
      justify-content:center;
      align-items:center;
      margin-left:10rem;
    }
    &__img{
      display:flex;
      border-radius:1rem;
      padding-left:-30rem;
      
      img{
        width:100%;
        margin-top:30%;
      }
    }
    &__register,&__create{
      left:-38vw;
    }
    &__create{
      //bottom:-5.5rem;
    }
  }
}