@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

:root {
  --c-darkest: #1d1d1d;
  --c-lightest: #ffffff;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 62.5%;
  background-color: var(--c-darkest);
  z-index: 2;
}

body {
  background-color: var(--c-lightest);
}

.loader {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  height: auto; /* 높이를 100vh로 변경 */
  width: 100%;
  overflow: hidden;
}

.loader__text {
  line-height: 1.2;
  position: relative;
  font-size: 2.8rem;
  overflow: hidden;
  z-index: 2;
  color: var(--c-lightest);
 
  &:not(:first-of-type) {
    padding-left: .8rem;
  }
  
  span {
    display: inline-block;
    opacity: 0;
    visibility: hidden;
  }
}

.loader__slice {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(33.33vw + 0.1rem); /* 슬라이스 너비를 vw(뷰포트 너비)에 따라 계산 */
  height: 100vh; /* 높이를 100vh로 변경 */
  background-color: var(--c-darkest);
  z-index: 0;
  
  &:nth-of-type(2) {
    left: 33.33vw;
  }
  
  &:nth-of-type(3) {
    left: 66.66vw;
  }
}

/* 모바일 환경에서 로더 텍스트 크기 조정 */
@media screen and (max-width: 768px) {
  .loader__text {
    font-size: 2rem; /* 모바일 환경에 맞게 조절 */
  }
}

.hero {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: var(--c-lightest);
  padding: 5%;
}

.hero__title {
  font-size: 5.2rem;
  line-height: 1.2;
  overflow: hidden;
  span {
    display: inline-block;
 
  }
}