.main_image {
    position: relative;
  }
.main_image_text {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate( -50%, -50% );
    color: white;
  }
  .main_image_text2 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate( -50%, -50% );
    color: white;
  }
  .carousel-container.CarouselButton{
	display: none;
  }
  div.css-1m9128y {
	display: none;
  }
  .carousel-container .main_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }