.board_list_wrap {
    height: auto;
    width: 70%;
    z-index: 5;
    background-color: rgb(243, 238, 238);
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 1);

}

.board_title {
    width: 100%;
    display: flex;
    justify-content: center;
    
    
}


.board_top {
    width: 80%;
    height: 10%;
    display: flex;
    white-space: nowrap;
    justify-content: center;
    font-weight: bold;

    border-bottom: 1px solid rgba(0,0,0,0.2);

}

.middle {
    width: 80%;
    height: 10%;
    display: flex;
    white-space: nowrap;
    justify-content: center;

    animation-name: moveRight; /* 애니메이션 이름 정의 */
    animation-duration: 0.4s; /* 애니메이션 지속 시간 (4초) */
    animation-timing-function: linear; /* 애니메이션 타이밍 함수 (선형) */
    animation-iteration-count: 1;
    animation-direction: normal; /* 애니메이션 방향 (정방향) */

}

.num {
    width: 10vw;
}
.titles {
    width: 45vw;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.writer {
    width: 15vw;
}
.date {
    width: 25vw;
}
.count {
    width: 12vw;
    text-align: center;
}



.board_title {
    text-align: left;
}

.board_middle {
    text-align: left;
    display: flex;
    justify-content: center;
}

@keyframes moveRight {
    0% {
      transform: translateX(-10px); /* 시작 위치 */
      opacity: 0.4;
    }
    100% {
      transform: translateX(0.5px); /* 오른쪽으로 이동 (예: 100px) */
      opacity: 1;
    }
  }

.middle:hover {
    background-color: rgb(255, 255, 255, 1); /* 마우스 호버 상태에서 배경 색상 변경 */
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
    transition: box-shadow 1s ease, background 1s ease; /* 두 개의 속성에 대한 애니메이션 효과 설정 */
    position: relative; /* 위치 설정을 위해 필요함 */
}

.middle:hover {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0)); /* 강렬한 검은색에서 점차 투명하게 변환하는 그라데이션 */
    box-shadow: 0 0 15px rgba(0, 0, 0, 1), 0 0 30px rgba(0, 0, 0, 0.2); /* 호버 시 그림자 효과 증가 */
    cursor: pointer;
    border-radius: 5px;
}

.board_button_wrap {
    position: relative;
    left: 83%;
    width: 90px;
    height: 42px;

    background-color: black;
    border: 1px solid rgba(0,0,0,1);
    border-radius: 3px;
    color: white;
}

.board_button_wrap:hover {
    cursor: pointer;
}

.loadingset {
    height: 83vh;
    margin: 0;
    padding: 0;
    margin-top: 100px;
}