:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-black: #000;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-primary-rgb: 13, 110, 253;
    --bs-secondary-rgb: 108, 117, 125;
    --bs-success-rgb: 25, 135, 84;
    --bs-info-rgb: 13, 202, 240;
    --bs-warning-rgb: 255, 193, 7;
    --bs-danger-rgb: 220, 53, 69;
    --bs-light-rgb: 248, 249, 250;
    --bs-dark-rgb: 33, 37, 41;
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 0, 0, 0;
    --bs-body-color-rgb: 33, 37, 41;
    --bs-body-bg-rgb: 255, 255, 255;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #212529;
    --bs-body-bg: #fff;
    --bs-border-width: 1px;
    --bs-border-style: solid;
    --bs-border-color: #dee2e6;
    --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
    --bs-border-radius: 0.375rem;
    --bs-border-radius-sm: 0.25rem;
    --bs-border-radius-lg: 0.5rem;
    --bs-border-radius-xl: 1rem;
    --bs-border-radius-2xl: 2rem;
    --bs-border-radius-pill: 50rem;
    --bs-link-color: #0d6efd;
    --bs-link-hover-color: #0a58ca;
    --bs-code-color: #d63384;
    --bs-highlight-bg: #fff3cd;
  }

/* Margin Top */
.board_mt-5 {
    margin-top: 10rem;
    margin-bottom: 5rem;
  }
  
  /* Margin Bottom */
  .board_mb-1 {
    margin-bottom: 0.25rem;
  }
  
  .board_mb-2 {
    margin-bottom: 0.5rem;
  }
  
  .board_mb-4 {
    margin-bottom: 0.2rem;
    padding: 10px;
  }
  
  .board_mb-4s {
    margin-bottom: 0.2rem;
    padding: 10px;
  }
  
  .board_mb-4c {
    margin-bottom: 0.2rem;
    padding: 5px;
    background-color: #f0e8e8;
    box-shadow: 0 0 100px rgba(62, 60, 60, 0.14);
  }
  
  /* Column Large */
  .board_col-lg-8 {
    flex: 0 0 auto;
    width: 100%;
  }
  
  /* Font Weight Bolder */
  .board_fw-bolder {
    font-weight: bolder;
  }
  
  /* Font Weight Bold */
  .board_fw-bold {
    font-weight: 700;
    text-align: left;
  }
  
  .board_fw-bold2 {
    font-weight: 400;
    text-align: left;
    padding-left: 10px;
  }
  
  /* Text Muted */
  .board_text-muted {
    --bs-text-opacity: 1;
    color: #6c757d;
  }
  
  /* Font Style Italic */
  .board_fst-italic {
    font-style: italic;
  }
  
  /* Margin Start */
  .board_ms-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .board_ms-3 {
    padding-left: 0.3rem;
    padding-right: 0.3rem;
  }
  
  /* Display Flex */
  .board_d-flex {
    display: flex;
  }
  
  /* Line Height 1 */
  .board_lh-1 {
    line-height: 1.1;
    padding-top: 15px;
  }
  
  /* Margin Bottom 5s */
  .board_mb-5s {
    margin-bottom: 3rem;
  }
  

  .board_bg-light {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
  }
  .board_form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border-radius: 0.375rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  .board_bg-light {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
  }
  .black-box {
    background-color: black;
    height: 65px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .boardcontainer {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 35%;
    border: 1px solid #f0e8e8;
    border-radius: 10px;
    box-shadow: 0 0 100px rgba(62, 60, 60, 0.3);
    margin-top: 7%;
  }
  .board_textbox{
    border: 1px solid #f0e8e8;
    margin-left: 10px;
    margin-right: 10px;
    white-space: pre-wrap;
    margin-bottom: 40px;
    padding-left: 10px;
    text-align: left;

  }

  .modal-background {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* 배경 뒷면을 어둡게 만듭니다 */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999; /* 다른 내용보다 위에 나타나도록 설정합니다 */
  }
  
  .modal {
    background: white;
    position: fixed;
    transform: translate (-50%, -50%); /* 중앙 정렬을 위한 변형(transform) 설정 */
    z-index: 1000; /* 다른 내용보다 위에 나타나도록 Z-인덱스 설정 */
    border: 1px solid #ccc; /* border를 추가합니다 */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .modal-content {
    padding: 10px;
  }
  
  button {
    cursor: pointer;
  }